/* || General setup */

html, body {
  margin: 0px;
  padding: 0px;
 }
 body {
   background-color: rgb(141, 82, 6);
 }
 .nav {
   flex-grow: 4;
 }
 .logga {
   Flex-grow: 1;
   width: 75px;
   height: 200px;
 }
 #text {
   margin:auto;
   width: 60%;
 }
 .rubrik {
   display:flex;
   justify-content: center;
   font-size: 40px;
 }
 .skapad {
   display:flex;
   flex-wrap:wrap;
   font-size: 30px;
 }
 .nyhet {
   width:60%;
 }
 .datum {
   width:40%;
 }
 .skipnav {
  position: absolute;
  transform: translateY(-100%);
}
.skip-to-content-link:focus {
  transform: translateY(0%);
}
   /* || Media queries */
   @media screen and (min-width: 280px){
     .content{
       width: 280px;
       height: 180px;
     }
     .logga {
       display:none;
     }
     div[class="nav"] a {
       font-size: 0.5rem;
     }
     .skapad {
       font-size: 20px;
     }
     }
 @media screen and (min-width: 360px){
   .content{
     width: 360px;
     height: 200px;
   }
   .logga {
     display:none;
   }
   div[class="nav"] a {
     font-size: 1rem;
   }
   .skapad {
    font-size: 30px;
  }
   }
   @media screen and (min-width: 550px){
     .content{
       width: 550px;
       height: 300px;
     }
     .logga {
       display:flex;
     }
     div[class="nav"] a {
       font-size: 1.5rem;
     }
     }
   @media screen and (min-width:1000px){
     .content{
       width: 1000px;
       height: 600px;
     }
     .logga {
       display:flex;
     }
     div[class="nav"] a {
       font-size: 2rem;
     }
     }
 /* || header layout */
 .header {
   display: flex;
 }
 div[class="nav"]{
   background-color: green;
 }

 div[class="nav"] {
   height: auto;
   display: flex;
   align-items: center;
 }
 
 div[class="nav"] ul {
   padding: 0;
   list-style-type: none;
   flex: 2;
   display: flex;
 }
 
 div[class="nav"] li {
   text-align: center;
   flex: 1;
 }
 
 div[class="nav"] a {
   text-transform: uppercase;
   text-decoration: none;
   color: black;
   justify-content:center;
 }
 
 
 
 
 
 
 
 