/* || General setup */

html, body {
   margin: 0px;
   padding: 0px;
  }
  body {
    background-color: rgb(141, 82, 6);
  }
  .nav {
    flex-grow: 4;
  }
  .logga {
    Flex-grow: 1;
    width: 75px;
    height: 200px;
  }
  #text {
    margin:auto;
    width: 60%;
  }
  .skipnav {
    position: absolute;
    transform: translateY(-100%);
  }
  .skip-to-content-link:focus {
    transform: translateY(0%);
  }
  h1 {
    margin:auto;
    text-align: center;
  }
    /* || Media queries */
    @media screen and (min-width: 280px){
      .content{
        width: 280px;
        height: 180px;
      }
      .logga {
        display:none;
      }
      div[class="nav"] a {
        font-size: 0.5rem;
      }
      #text {
        font-size: 8px;
        margin:auto;
        width: 280px;
      }
      }
  @media screen and (min-width: 360px){
    .content{
      width: 360px;
      height: 200px;
    }
    .logga {
      display:none;
    }
    div[class="nav"] a {
      font-size: 1rem;
    }
    #text {
      font-size: 10px;
      margin:auto;
      width: 360px;
    }
    }
    @media screen and (min-width: 550px){
      .content{
        width: 550px;
        height: 300px;
      }
      .logga {
        display:flex;
      }
      div[class="nav"] a {
        font-size: 1.5rem;
      }
      #text {
        font-size: 20px;
        margin:auto;
        width: 550px;
      }
      h1 {
        font-size: 60px;
      }
      }
    @media screen and (min-width:1000px){
      .content{
        width: 1000px;
        height: 600px;
      }
      .logga {
        display:flex;
      }
      div[class="nav"] a {
        font-size: 2rem;
      }
      #text {
        font-size: 30px;
        margin:auto;
        width: 1000px;
      }
      }
  /* || Automatic slider */
  .content{
    padding: 0px;
    margin: auto;
    overflow: hidden;
    box-shadow: 1px 1px 15px rgba(0,0,0,0.4);
  }
  /* || header layout */
  .header {
    display: flex;
  }
  div[class="nav"]{
    background-color: green;
  }
 
  div[class="nav"] {
    height: auto;
    display: flex;
    align-items: center;
  }
  
  div[class="nav"] ul {
    padding: 0;
    list-style-type: none;
    flex: 2;
    display: flex;
  }
  
  div[class="nav"] li {
    text-align: center;
    flex: 1;
  }
  
  div[class="nav"] a {
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    justify-content:center;
  }
  
  
  
  
  
  
  
  