/* || General setup */

html, body {
  margin: 0px;
  padding: 0px;
 }
 body {
   background-color: rgb(141, 82, 6);
 }
 .nav {
   flex-grow: 4;
 }
 .logga {
   Flex-grow: 1;
   width: 75px;
   height: 200px;
 }
 #text {
   margin:auto;
   width: 60%;
 }
 .skipnav {
  position: absolute;
  transform: translateY(-100%);
}
.skip-to-content-link:focus {
  transform: translateY(0%);
}
h1 {
  margin:auto;
  text-align: center;
}
   /* || Media queries */
   @media screen and (min-width: 280px){
     .logga {
       display:none;
     }
     .nav a {
       font-size: 0.5rem;
     }
     .img {
      width: 280px;
      height: 180px;
    }
    button {
      width:280px;
      height: 50px;
      font-size: 10px;
    }
     }
 @media screen and (min-width: 360px){
   .logga {
     display:none;
   }
   .nav a {
     font-size: 1rem;
   }
   .img {
    width: 360px;
    height: 200px;
  }
  button {
    width:360px;
    height: 50px;
    font-size: 10px;
  }
   }
   @media screen and (min-width: 550px){
     .logga {
       display:flex;
     }
     .nav a {
       font-size: 1.5rem;
     }
     .img {
      width: 550px;
      height: 300px;
    }
    button {
      width:550px;
      height: 50px;
      font-size: 20px;
    }
    h1 {
      font-size: 60px;
    }
     }
   @media screen and (min-width:1000px){
     .logga {
       display:flex;
     }
     .nav a {
       font-size: 2rem;
     }
     .img{
      width: 1000px;
      height: 600px;
    }
    button {
      width:1000px;
      height: 50px;
      font-size: 30px;
    }
     }
 /* || header layout */
 .images {
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
 }
 .header {
   display: flex;
 }

 .nav {
   height: auto;
   display: flex;
   align-items: center;
   background-color: green;
 }
 
 .nav ul {
   padding: 0;
   list-style-type: none;
   flex: 2;
   display: flex;
 }
 
 .nav li {
   text-align: center;
   flex: 1;
 }
 
 .nav a {
   text-transform: uppercase;
   text-decoration: none;
   color: black;
   justify-content:center;
 }
 
 
 
 
 
 
 
 